{% extends 'base.html' %}
{% load static %}

{% block css %}
<link href="{% static 'css/plugins/steps/jquery.steps.css' %}" rel="stylesheet">
<link href="{% static 'css/plugins/steps/jquery.steps.css' %}" rel="stylesheet">
<link href="{% static 'css/plugins/datapicker/datepicker3.css' %}" rel="stylesheet">
<link href="{% static 'css/plugins/clockpicker/clockpicker.css' %}" rel="stylesheet">

{% endblock %}

{% block content %}
<div class="row">
	<div class="col-lg-6">
		<div class="jumbotron">
			<h2>Instrucciones</h2>

			<p>Seleccione el <b>estado</b> en el que se encuentra la etapa.<p>
			
				<p>Seleccione el <b>tiempo</b> necesaria para completar la etapa.</p>
			<hr>
		</div>
	</div>
	<div class="col-lg-6">


		{% for step in steps %}
		<div class="ibox float-e-margins">
			<div class="ibox-content">
				<div class="row">
					<div class="col-sm-12 b-r text-center">
						<h1>{{step.step_name}}</h1>
						{% if step.step_name == "Etapa 13" %}
							test
						{% endif %}
						<form role="form" method="post">
							{% csrf_token %}
							{% comment %} <input name="step" type="hidden" class="form-control" value = {{step.pk}} > 
							<input name="process_status" type="hidden" class="form-control" value = {{step.process_status}} >
							 {% endcomment %}
							
							
							
							<button onclick = "statusChangeView('{{step.pk}}','InProcess')" type="button" class="btn btn-w-m {% if step.process_status.description == 'InProcess' %} btn-primary {% endif%} btn-block process{{step.pk}}">En Proceso</button>
							<button onclick = "statusChangeView('{{step.pk}}','Assigned')" type="button" class="btn btn-w-m {% if step.process_status.description == 'Assigned' %} btn-primary {% endif%} btn-block process{{step.pk}}">Asignado</button>
							<button onclick = "statusChangeView('{{step.pk}}','Finished')" type="button" class="btn btn-w-m {% if step.process_status.description == 'Finished' %} btn-primary {% endif%} btn-block process{{step.pk}}">Finalizado</button>

							<hr>
							<label>Seleccionar tiempo</label>
							<div class="form-group">
								
								<input onclick = "changeTime('{{step.pk}}',this)" type="radio" name="radio{{step.pk}}" id="radio1" value="date">
									<label for="radio1">
										Por fecha
									</label>
								
								
									<input onclick = "changeTime('{{step.pk}}',this)" type="radio" name="radio{{step.pk}}" id="radio2" value="hour">
									<label for="radio2">
										Por hora
									</label>
							</div>
							<div class="input-group clockpicker" data-autoclose="true" id="clock{{step.pk}}" style="display:none;">
								<input type="text" class="form-control" value="09:30">
								<span class="input-group-addon">
									<span class="fa fa-clock-o"></span>
								</span>
							</div>

							<div class="form-group" id="calendar{{step.pk}}" style = "display:none;">
								<div class="input-group date">
									<span class="input-group-addon"><i class="fa fa-calendar"></i></span><input type="text" class="form-control" value="03/04/2014">
								</div>
							</div>
							
						</form>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}   
		
		<div class="panel panel-default">
			<div class="panel-heading">
				Comentarios y adjuntos
			</div>
			<div class="panel-body">
				<p>{{link_info.comments}}</p>
				<hr>
				<p> 

					{% if link_info.attachment %}
						<a href="{{link_info.attachment.url}}" class="badge badge-primary">Descargar Adjunto</a> 
					{% else %} 
						<span class="badge bg-gradient-light">
							No existe adjunto 
						</span> 
					{% endif %} 
				</p>

			</div>

		</div>
	   
	</div>
</div>





{% endblock %}

{% block javascript %}
<script src="{% static 'js/plugins/datapicker/bootstrap-datepicker.js' %}"></script>
<script src="{% static 'js/plugins/clockpicker/clockpicker.js' %}"></script>

<script>
	async function statusChangeView(step_pk,status){
		const LINK_URL = `/link/status-change/${step_pk}/${status}`;
		console.log('LINK URL',LINK_URL)
		
		fetch(LINK_URL, {
			method: 'POST',
			headers:{
				'Accept': 'application/json',
				'X-Requested-With': 'XMLHttpRequest', //Necessary to work with request.is_ajax()
				'X-CSRFToken': "{{csrf_token}}",
			},
			//body: JSON.stringify(client_data)
		  })
		  .then(response => response.json())
		  .then(data => {
			console.log('Success:', data);
			
			

			location.reload();
		  })
		  .catch(error => {
			console.log('error')
		  });
		
	   
	}



	$(document).ready(function(){

		$('.input-group.date').datepicker({
			todayBtn: "linked",
			keyboardNavigation: false,
			forceParse: false,
			calendarWeeks: true,
			autoclose: true
		});

		$('.clockpicker').clockpicker();
	});
	function  changeTime(step_pk,element){
		console.log(element.value);
		
		if(element.value == "date"){
			document.getElementById(`clock${step_pk}`).style.display="none";
			document.getElementById(`calendar${step_pk}`).style.display="";
		}else{
			document.getElementById(`clock${step_pk}`).style.display="";
			document.getElementById(`calendar${step_pk}`).style.display="none";

		}

	}
		
</script>
{% endblock %}